<h1>Example App: Home</h1>

<form method='post' action='upload' enctype="multipart/form-data">
  <input type='file' name='fileUploaded'>
  <input type='submit'>
</form>

<div>
  <input type='text' placeholder="Search" id='query'>
  <input type='submit' id='search'>
</div>
<script>
  document.getElementById('search').addEventListener('click', ()=>{
    const query = document.getElementById('query').value
    window.location.href = '/search/' + query
  });
</script>

<div class="image">
  {{#each filenames}}
  <img src="images/{{url}}">
  {{/each}}
</div>
